#font_menu_24{
    font-size: 24px;
}
.team_member_infor{
    font-size: 14px !important;
}
.team_member_title{
    font-weight: bold !important;
}
.home_title{
    text-align: left !important;
}

.service_text_align{
    text-align: left !important;
}

.service_text_side_title{
    text-align: left !important;
    font-weight: bold;
}
.image_left{
    text-align: left !important;
}

.about_title_weight{
    font-weight: bold;
}
.about_side_title_color{
    color: grey;
}
.about_para_size{
    font-size: smaller;
}
.turquoise	{
    background-color: #00ccff;
}
.message_align{
    text-align: center;
}

.img_appoint{
    width:450px;
    height:90px;
    border-radius: 100px;
    font-size: xx-large;
    font-weight: bold;
    background-color: #00ccff;
    color:white;
}
#appoint{
    width:300px;
    height:60px;
    font-size: large;
    font-weight: bold;
    border: 1px solid transparent; 
    border-radius: 100px;
    color:white;
    background-color: #00ccff; 
    float: right; 
    position: fixed; 
    right: 30px; 
    top: 500px; 
    z-index:5;
}



